{
  "openapi": "3.1.0",
  "info": {
    "title": "AWMC Gateway API",
    "version": "2.0.0",
    "description": "AWMC 公共网关（对接 AWMC API v2）。\n\n- 对外仍使用明文 JSON；`keychip` 由网关注入，调用方不要传。\n- 扣费条件：HTTP 2xx 且上游业务成功（`/v1/health` 的 ping 为 `returnCode===0`，其它为 `returnCode===1`）。响应会双写兼容字段 `code===0`。\n- **高风险**：改门（`/v1/kaleidx-scope/upsert`）以及写入 `itemKind` 为 **4 / 8 / 15** 的收藏品，极可能对账号造成不可逆严重后果。"
  },
  "servers": [
    {
      "url": "https://api.wmc.pub",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "连通检查"
    },
    {
      "name": "User",
      "description": "用户查询（只读）"
    },
    {
      "name": "Charge",
      "description": "Charge 购买与队列占位"
    },
    {
      "name": "Score",
      "description": "游戏内成绩写入 / 删除（传歌曲）"
    },
    {
      "name": "Item",
      "description": "道具与合并写入（含高风险种类）"
    },
    {
      "name": "Kaleidx",
      "description": "Kaleidx Scope（含改门高风险）"
    },
    {
      "name": "Upload",
      "description": "同步到落雪 / 水鱼"
    },
    {
      "name": "Usage",
      "description": "调用统计与失败率"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "上游连通检查",
        "description": "消耗 0 Token。映射上游 `POST /ping`。成功时 `returnCode=0`、`returnMessage=pong`，并双写 `code=0`。",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          }
        }
      }
    },
    "/v1/user/data": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "用户基础数据",
        "description": "消耗 1 Token。映射 `/get-data`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/preview": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "用户预览",
        "description": "消耗 1 Token。映射 `/get-preview`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/region": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "用户地区记录",
        "description": "消耗 1 Token。映射 `/get-region`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/music": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "查询全部成绩",
        "description": "消耗 2 Token。映射 `/get-music`。这是**读取**成绩，不是上传。上传请用 `/v1/music/upsert`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/charge": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "查询已持有 Charge",
        "description": "消耗 1 Token。映射 `/get-ticket`。只读已持有票券，不是商店列表。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/item-list": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "查询道具列表",
        "description": "消耗 1 Token。映射 `/get-item-list`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/kaleidx-scope": {
      "post": {
        "tags": [
          "Kaleidx"
        ],
        "summary": "读取 Gate 状态",
        "description": "消耗 1 Token。只读。改门请见高风险接口 `/v1/kaleidx-scope/upsert`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/charge": {
      "post": {
        "tags": [
          "Charge"
        ],
        "summary": "购买一张 Charge",
        "description": "消耗 10 Token。映射 `/upsert-ticket`（不再入队）。字段可用 `charge` 或 `chargeId`（仅允许 chargeId=2 或 chargeId=3）。耗时可能较长（上游约 60s 等待）。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/charge/queue": {
      "get": {
        "tags": [
          "Charge"
        ],
        "summary": "充值队列（占位）",
        "description": "消耗 0 Token。上游 v2 **已无真实队列**，固定返回空 `tasks`，仅保留路径兼容。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "空队列占位",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/ticket/clear": {
      "post": {
        "tags": [
          "Charge"
        ],
        "summary": "清空 Charge",
        "description": "消耗 5 Token。映射 `/clear-ticket`。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Qrcode"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/music/upsert": {
      "post": {
        "tags": [
          "Score"
        ],
        "summary": "上传 / 覆盖成绩（传歌曲）",
        "description": "消耗 **5 Token**。映射上游 `/upsert-music`。\n\n## musicList 长什么样？（直接复制改）\n\n整个请求体就是：`qrcode` + **`musicList` 数组**（长度 1～4）。数组里每一项是一条成绩对象。\n\n### 精确模式（推荐先看这个）：`fuzzy=false`，`dxScore` = 实际 DX 分\n\n```json\n{\n  \"qrcode\": \"SGWCMAID...\",\n  \"musicList\": [\n    {\n      \"musicId\": 11479,\n      \"level\": 3,\n      \"achievement\": 100.5,\n      \"dxScore\": 2100,\n      \"comboStatus\": \"ap\",\n      \"syncStatus\": \"fsd\",\n      \"fuzzy\": false\n    }\n  ]\n}\n```\n\n### 一次传多条（最多 4 条）\n\n```json\n{\n  \"qrcode\": \"SGWCMAID...\",\n  \"musicList\": [\n    {\n      \"musicId\": 11479,\n      \"level\": 2,\n      \"achievement\": 100.5,\n      \"dxScore\": 2100,\n      \"comboStatus\": \"ap\",\n      \"syncStatus\": \"fsd\",\n      \"fuzzy\": false\n    },\n    {\n      \"musicId\": 11479,\n      \"level\": 3,\n      \"achievement\": 99.75,\n      \"dxScore\": 2400,\n      \"comboStatus\": \"fc\",\n      \"syncStatus\": \"fs\",\n      \"fuzzy\": false\n    },\n    {\n      \"musicId\": 11176,\n      \"level\": 2,\n      \"achievement\": 100.0,\n      \"dxScore\": 3,\n      \"comboStatus\": \"fcp\",\n      \"syncStatus\": \"fsp\",\n      \"fuzzy\": true\n    }\n  ]\n}\n```\n\n上面第 3 条是**模糊模式**：`fuzzy=true` 时 `dxScore: 3` 表示 DX **星级 3**（约 93% 完成度），**不是** DX 分等于 3。\n\n### 数组每一项的字段\n\n| 字段 | 必填 | 说明 |\n| --- | --- | --- |\n| `musicId` | 是 | 曲目 ID（当前版本真实存在的；别名 `music_id` / `id`） |\n| `level` | 是 | `0` BASIC · `1` ADV · `2` EXP · `3` MAS · `4` Re:MAS · `10` 宴会场 |\n| `achievement` | 是 | 达成率，如 `100.5`（别名 `acc`） |\n| `dxScore` | 是 | `fuzzy=false`→实际 DX 分；`fuzzy=true`→星级 0～5 |\n| `comboStatus` | 建议 | `none` / `fc` / `fcp` / `ap` / `app`（或 0～4） |\n| `syncStatus` | 建议 | `none` / `fs` / `fsp` / `fsd`|`fdx` / `fsdp`|`fdxp` / `sync`（或 0～5） |\n| `fuzzy` | 建议 | `false` 精确 · `true` 模糊 |\n\n不要传 `keychip`（网关注入）。`musicId` 填错会返回上游 `5004`。\n\n成功：`returnCode===1`（响应也会双写 `code===0`）。\n",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MusicUpsertRequest"
              },
              "examples": {
                "exact": {
                  "summary": "精确模式单条",
                  "value": {
                    "qrcode": "SGWCMAID...",
                    "musicList": [
                      {
                        "musicId": 11479,
                        "level": 3,
                        "achievement": 100.5,
                        "dxScore": 2100,
                        "comboStatus": "ap",
                        "syncStatus": "fsd",
                        "fuzzy": false
                      }
                    ]
                  }
                },
                "fuzzy": {
                  "summary": "模糊模式（dxScore=星级）",
                  "value": {
                    "qrcode": "SGWCMAID...",
                    "musicList": [
                      {
                        "musicId": 11176,
                        "level": 2,
                        "achievement": 100.0,
                        "dxScore": 3,
                        "comboStatus": "fcp",
                        "syncStatus": "fsp",
                        "fuzzy": true
                      }
                    ]
                  }
                },
                "multi": {
                  "summary": "一次最多四条",
                  "value": {
                    "qrcode": "SGWCMAID...",
                    "musicList": [
                      {
                        "musicId": 11479,
                        "level": 2,
                        "achievement": 100.5,
                        "dxScore": 2100,
                        "comboStatus": "ap",
                        "syncStatus": "fsd",
                        "fuzzy": false
                      },
                      {
                        "musicId": 11479,
                        "level": 3,
                        "achievement": 99.75,
                        "dxScore": 2400,
                        "comboStatus": "fc",
                        "syncStatus": "fs",
                        "fuzzy": false
                      },
                      {
                        "musicId": 11176,
                        "level": 2,
                        "achievement": 100.0,
                        "dxScore": 3,
                        "comboStatus": "fcp",
                        "syncStatus": "fsp",
                        "fuzzy": true
                      },
                      {
                        "musicId": 11176,
                        "level": 4,
                        "achievement": 98.5,
                        "dxScore": 1800,
                        "comboStatus": "none",
                        "syncStatus": "none",
                        "fuzzy": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/music/delete": {
      "post": {
        "tags": [
          "Score"
        ],
        "summary": "删除成绩",
        "description": "消耗 **5 Token**。映射 `/delete-music`。\n\n一次可删 **1～4** 条。每项**只能**包含 `musicId` + `level`（不要带达成率等字段）。账号上必须已有对应成绩，否则可能返回 `5005`。\n\n```json\n{\n  \"qrcode\": \"...\",\n  \"musicList\": [{ \"musicId\": 799, \"level\": 4 }]\n}\n```",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MusicDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/item/upsert": {
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "添加或删除道具",
        "description": "消耗 5 Token。映射 `/upsert-item`。\n\n**高风险**：`itemKind` 为 **4 / 8 / 15**（未充分验证的收藏品/钥匙类）时，极可能对账号造成不可逆严重后果，请勿随意发送。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/user/upsert-all": {
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "合并写入",
        "description": "消耗 10 Token。映射 `/upsert-user-all`。可一次提交成绩、删成绩、道具、清票。\n\n**高风险**：`itemList` 含 `itemKind` 4/8/15 或涉及改门相关数据时，极可能对账号造成不可逆严重后果。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpsertAllRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/kaleidx-scope/upsert": {
      "post": {
        "tags": [
          "Kaleidx"
        ],
        "summary": "改门（高风险）",
        "description": "消耗 5 Token。映射 `/upsert-kaleidx-scope`。\n\n**高风险：改门极可能对账号造成不可逆严重后果，请勿随意调用。**\n\n`gateId` 必填；`isGateFound` / `isKeyFound` / `isClear` 至少提供一项。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KaleidxUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/update-lx": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "同步成绩到落雪 LXNS",
        "description": "消耗 5 Token。Body：`qrcode` + `key`（LXNS X-User-Token）。旧字段 `type` 可忽略。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/v1/update-fish": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "同步成绩到 DivingFish",
        "description": "消耗 5 Token。请求体中的 `token` 是 DivingFish Import-Token，不是 AWMC 网关令牌。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/InsufficientBalance"
          }
        }
      }
    },
    "/me/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "查询本人调用明细",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me/usage/stats": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "查询本人的日粒度统计",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                14,
                30
              ],
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsonResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/usage/failure-rate": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "查询全站失败率",
        "description": "无需鉴权，固定近 7 天、30 分钟粒度。",
        "responses": {
          "200": {
            "$ref": "#/components/responses/FailureRate"
          }
        }
      }
    },
    "/me/usage/failure-rate": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "查询本人失败率",
        "description": "固定近 7 天、30 分钟粒度。",
        "security": [
          {
            "AWMCGatewayToken": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FailureRate"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AWMCGatewayToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "仅用于 api.wmc.pub：AWMC 通行证 JWT，或个人中心生成的 gw_ 长期令牌。请勿填写谱面平台或 AWMCNET 的 Key。"
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      }
    },
    "requestBodies": {
      "Qrcode": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QrcodeRequest"
            }
          }
        }
      }
    },
    "responses": {
      "Success": {
        "description": "业务响应（含 returnCode 与兼容 code）",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GatewayResponse"
            }
          }
        }
      },
      "JsonResponse": {
        "description": "JSON response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "Unauthorized": {
        "description": "令牌缺失或无效"
      },
      "InsufficientBalance": {
        "description": "余额不足或无权访问"
      },
      "FailureRate": {
        "description": "失败率统计",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FailureRateResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "QrcodeRequest": {
        "type": "object",
        "required": [
          "qrcode"
        ],
        "properties": {
          "qrcode": {
            "type": "string",
            "description": "SGWCMAID... 二维码内容或官方链接"
          }
        }
      },
      "ChargeRequest": {
        "type": "object",
        "required": [
          "qrcode"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "chargeId": {
            "type": "integer",
            "description": "Charge ID（仅允许 chargeId=2 或 chargeId=3；也可用字段名 charge）",
            "enum": [
              2,
              3
            ],
            "example": 2
          },
          "charge": {
            "type": "integer",
            "description": "chargeId 的别名（仅允许 chargeId=2 或 chargeId=3；兼容旧客户端）",
            "enum": [
              2,
              3
            ],
            "example": 2
          }
        }
      },
      "MusicScoreItem": {
        "type": "object",
        "required": [
          "musicId",
          "level",
          "achievement",
          "dxScore"
        ],
        "properties": {
          "musicId": {
            "type": "integer",
            "description": "曲目 ID。必须是当前游戏数据里真实存在的 Music ID。"
          },
          "level": {
            "type": "integer",
            "description": "0=BASIC, 1=ADVANCED, 2=EXPERT, 3=MASTER, 4=Re:MASTER, 10=宴会场",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10
            ]
          },
          "achievement": {
            "description": "达成率。推荐写百分比如 100.5；也可写内部整数。",
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "example": 100.5
          },
          "dxScore": {
            "type": "integer",
            "description": "fuzzy=false：实际 DX 分数；fuzzy=true：DX 星级 0～5（不是实际分数！）"
          },
          "comboStatus": {
            "description": "none/fc/fcp/ap/app 或 0～4",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "example": "ap"
          },
          "syncStatus": {
            "description": "none/fs/fsp/fsd(fdx)/fsdp(fdxp)/sync 或 0～5",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "example": "fsd"
          },
          "fuzzy": {
            "type": "boolean",
            "description": "false=精确（dxScore 为实际分）；true=模糊（dxScore 为星级）",
            "default": false
          }
        },
        "example": {
          "musicId": 11479,
          "level": 3,
          "achievement": 100.5,
          "dxScore": 2100,
          "comboStatus": "ap",
          "syncStatus": "fsd",
          "fuzzy": false
        }
      },
      "MusicUpsertRequest": {
        "type": "object",
        "required": [
          "qrcode",
          "musicList"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "musicList": {
            "type": "array",
            "minItems": 1,
            "maxItems": 4,
            "description": "1～4 条成绩；每条由 (musicId, level) 唯一确定",
            "items": {
              "$ref": "#/components/schemas/MusicScoreItem"
            }
          }
        },
        "example": {
          "qrcode": "SGWCMAID...",
          "musicList": [
            {
              "musicId": 11479,
              "level": 3,
              "achievement": 100.5,
              "dxScore": 2100,
              "comboStatus": "ap",
              "syncStatus": "fsd",
              "fuzzy": false
            }
          ]
        }
      },
      "MusicDeleteItem": {
        "type": "object",
        "required": [
          "musicId",
          "level"
        ],
        "properties": {
          "musicId": {
            "type": "integer"
          },
          "level": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10
            ]
          }
        },
        "additionalProperties": false
      },
      "MusicDeleteRequest": {
        "type": "object",
        "required": [
          "qrcode",
          "musicList"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "musicList": {
            "type": "array",
            "minItems": 1,
            "maxItems": 4,
            "items": {
              "$ref": "#/components/schemas/MusicDeleteItem"
            }
          }
        }
      },
      "ItemUpsertRequest": {
        "type": "object",
        "required": [
          "qrcode",
          "itemKind",
          "itemId",
          "operation"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "itemKind": {
            "type": "integer",
            "description": "道具种类。高风险未验证种类：4、8、15。常见：1姓名框 2称号 3头像 5-8乐曲解锁 9角色 10搭档 11框 12票 15钥匙"
          },
          "itemId": {
            "type": "integer"
          },
          "operation": {
            "type": "string",
            "enum": [
              "add",
              "del"
            ],
            "description": "add 添加 / del 删除（不区分大小写）"
          }
        }
      },
      "UserUpsertAllRequest": {
        "type": "object",
        "required": [
          "qrcode"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "musicList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicScoreItem"
            }
          },
          "musicDeleteList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MusicDeleteItem"
            }
          },
          "itemList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemUpsertRequest"
            }
          },
          "clearTicket": {
            "type": "boolean"
          }
        }
      },
      "KaleidxUpsertRequest": {
        "type": "object",
        "required": [
          "qrcode",
          "gateId"
        ],
        "properties": {
          "qrcode": {
            "type": "string"
          },
          "gateId": {
            "type": "integer",
            "description": "门 ID（>0）",
            "example": 7
          },
          "isGateFound": {
            "type": "boolean"
          },
          "isKeyFound": {
            "type": "boolean"
          },
          "isClear": {
            "type": "boolean"
          }
        }
      },
      "UpdateLxRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/QrcodeRequest"
          },
          {
            "type": "object",
            "required": [
              "key"
            ],
            "properties": {
              "key": {
                "type": "string",
                "description": "LXNS X-User-Token"
              },
              "type": {
                "type": "string",
                "description": "旧字段，可忽略",
                "example": "maimai"
              }
            }
          }
        ]
      },
      "UpdateFishRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/QrcodeRequest"
          },
          {
            "type": "object",
            "required": [
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "description": "DivingFish Import-Token"
              }
            }
          }
        ]
      },
      "GatewayResponse": {
        "type": "object",
        "properties": {
          "returnCode": {
            "type": "integer",
            "description": "上游业务码。ping 成功=0；其它成功=1"
          },
          "returnMessage": {
            "description": "字符串；业务成功时常为 JSON 字符串"
          },
          "businessData": {
            "description": "网关解析 returnMessage 后的对象（如有）"
          },
          "code": {
            "type": "integer",
            "description": "兼容字段：业务成功时为 0",
            "example": 0
          },
          "msg": {
            "description": "兼容字段：尽量可二次 JSON.parse"
          }
        },
        "additionalProperties": true
      },
      "QueueResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 0
          },
          "returnCode": {
            "type": "integer",
            "example": 1
          },
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "workers": {
            "type": "integer",
            "example": 0
          },
          "msg": {
            "type": "string"
          }
        }
      },
      "FailureRateResponse": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "global",
              "user"
            ]
          },
          "days": {
            "type": "integer",
            "example": 7
          },
          "bucketMinutes": {
            "type": "integer",
            "example": 30
          },
          "series": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "summary": {
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    }
  }
}
